* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #964848;
}

/* 50/50 split layout */
.app-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  gap: 30px;
}

/* Left = Editor */
.left-panel {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

/* Right = Search + Notes */
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Editor card */
.editor {
  width: 500px;
  height: 450px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.editor input,
.editor textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #946767;
}

.editor textarea {
  min-height: 120px;
}

.editor button {
  padding: 12px 20px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Notes grid */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}

.header-name {
  text-align: center;
  color: #964848;
}
/* Note card */
.note-card {
  width: 500px;
  background: rgb(68, 40, 40);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.note-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.edit-btn {
  background: #4facfe;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #ff4f4f;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Mobile responsive */
@media (max-width: 900px) {
  .app-container {
    flex-direction: column;
  }
}